{
  "KAFKA_CLIENT_CERT": "-----BEGIN CERTIFICATE-----\nMIXUAlwKz+v9o=\n-----END CERTIFICATE-----\n",
  "KAFKA_CLIENT_CERT_KEY": "-----BEGIN RSA PRIVATE KEY-----\nMIwGj7/ZIQ==\n-----END RSA PRIVATE KEY-----\n",
  "KAFKA_PREFIX": "alpine-95692.",
  "KAFKA_TRUSTED_CERT": "-----BEGIN CERTIFICATE-----\nMIITFG0=\n-----END CERTIFICATE-----\n",
  "KAFKA_URL": "kafka+ssl://ec2-1-2-2-4.compute-1.amazonaws.com:9096,kafka+ssl://ec2-5-5-7-8.compute-1.amazonaws.com:9096,kafka+ssl://ec2-9-10-11-12.compute-1.amazonaws.com:9096",
  "KAFKA_TOPIC": "messages"
}
